.footer {
  width: 100vw;
  height: 12rem;
  background: transparent;
}

.toggleButtonWrapper {
  margin-inline-start: 0.5em;
}

.toggleButton {
  width: 1.8rem;
  height: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  border-radius: 50%;
}

.toggleButton:hover {
  background: var(--bg-color-0);
}

.navLink {
  /* font-weight: 500; */
}

.searchButton {
  background: var(--notion-gray_background_co);
}
