.toggleButtonWrapper {
  margin-inline-start: 0.5em;
}

.toggleButton {
  width: 1.8rem;
  height: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  border-radius: 50%;
}

.toggleButton:hover {
  background: var(--bg-color-0);
}

.searchButton {
  background: var(--notion-gray_background_co);
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copyright {
  font-size: 80%;
  padding: 0.5em;
  color: var(--fg-color-2);
  font-weight: 500;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.footerLink {
  color: var(--fg-color-6);
  caret-color: var(--fg-color-6);
}

.footerLink:hover {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}
