* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}
