.notion {
  --notion-max-width: 720px;
  --notion-header-height: 54px;
}

.index-page {
  --notion-max-width: 900px;
}

.notion > * {
  padding: 0;
}

.notion-header {
  background-color: #ffffffcc;
  backdrop-filter: saturate(180%) blur(12px);
}

.dark-mode .notion-header {
  background-color: transparent;
}

.notion-header .breadcrumbs {
  gap: 4px;
}

.notion-header .button {
  padding: 8px 12px;
}

.notion-page-cover-wrapper {
  padding: 0 10px;
}

.notion-page-cover-wrapper,
.notion-page-cover-wrapper span,
.notion-page-cover-wrapper img {
  max-width: 1200px;
  border-radius: 12px;
}

.notion-page {
  margin: 0;
  padding-left: calc(min(12px, 8vw));
  padding-right: calc(min(12px, 8vw));
}

.notion-collection-card-cover {
  border-bottom-color: var(--bg-color);
}

.notion-page-icon-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.notion-collection-card-property:not(:first-child) {
  text-overflow: ellipsis;
}

.notion-header .notion-nav-header {
  max-width: 1200px;
  margin: 0 auto;
}

.notion-text {
  text-align: justify;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

.notion-search .searchBar {
  box-shadow: var(--fg-color-0) 0px 1px 0px;
}

.notion-search .noResults {
  color: var(--fg-color-3);
}

.notion-search .noResultsDetail {
  color: var(--fg-color-2);
}
